/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:dimgrey;
}  */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.post-container {
  width: 400px;
  height: 550px;
  border: 1px solid black;
  border-radius: 12px;
  margin: 50px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
} 

.post-header {
  display: flex;
  align-items: space-between;
} 

.post-header .left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.post-header .left > div {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
}

.post-header .right{
  margin-left: auto;
  align-content: center;
  border: 1px solid blue;
  width: 60px;
  border-radius: 4px;
  cursor: pointer
}

.post-image {
  width: 100%;
} 

.post-icons {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.post-icons > div {
  display: flex;
  gap: 10px;
}

.post-likes {
  font-size: 14px;
}

.post-description {
  font-size: 14px;
}